name: Real-time Stock Update

on:
  schedule:
    - cron: '*/20 * * * 1-5' # 每20分鐘跑一次
  workflow_dispatch:          # 允許手動執行按鈕

jobs:
  update-stocks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests yfinance

      - name: Run Update Script
        run: python main.py
