name: Stock Update

on:
  workflow_dispatch:
  schedule:
    - cron: '*/20 * * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        
    - name: Create Virtual Env & Install & Run
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install --upgrade pip
        pip install requests yfinance
        echo "Installed packages:"
        pip list
        echo "Running script..."
        python main.py
